<body class="scroll">
    <div class="order-success">
        <h2>¡Gracias por tu compra, {{user.first_name}}!</h2>
        <h4>Tu número de orden es: <span class="order-number">{{orderNumber}}</span></h4>
        <h4>El total de tu compra es: <span class="total">$ {{total}}</span></h4>
        <p>Si alguno de los productos está agotado, lo mantendremos en tu carrito para que puedas comprarlo tan pronto como esté disponible nuevamente.</p>
    </div>
<footer class="footerLogin">
      <p> Created by Brian Pagano | todos los derechos reservados</p>
</footer>
</body>
